Django==5.2.3
django-allauth==65.9.0
django-breadcrumbs==1.1.3
django-cors-headers==4.7.0
django-dynamic-breadcrumbs==0.4.3
django-extensions==4.1
django-import-export==4.3.7
django-view-breadcrumbs==2.5.1
django-widget-tweaks==1.5.0
djangorestframework==3.16.0