{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Myapp{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    {% block styles %} {% endblock %}
  </head>
  <body>
    <div class="flex flex-col">
    <!-- navbar -->
     {% include "partials/navbar.html" %}
     
      {% include "partials/sidebar.html" %}

      <!-- main content -->
      {% block content %} {% endblock %}
    </div>

    <!-- footer -->

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/komponen/toggleButton.js' %}"></script>
    {% block scripts %} {% endblock %}
  </body>
</html>
