{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Myapp{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"></script>

    {% block styles %} {% endblock %}
  </head>
  <body x-data>
    <div class="flex flex-col">
      <!-- navbar -->
      {% include "partials/navbar.html" %}
      {% include "partials/sidebar.html" %}

      <!-- main content -->
      <div class="pt-16">
        {% block content %} {% endblock %}
      </div>
    </div>

    <!-- footer -->

    <script src="{% static 'js/main.js' %}"></script>
    <!-- <script src="{# static 'js/komponen/toggleButton.js' #}"></script> -->
    {% block scripts %} {% endblock %}
  </body>
</html>
